th {
    background-color: #154360;
    color:aliceblue ;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  td{
    background-color: #C8DDE8;
  }

  table {
    width: 60%;
    border-collapse: collapse;
  }

  img {
    width: 50px;
  }

